---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Verdana, 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', dotum;
$base-font-size:   14px;
$middle-font-size: 16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #ccc;
$grey-color-light: #f3f3f3;
$grey-color-dark:  #999;

// Width of the content area
$content-width:    1024px;

$on-palm:          700px;
$on-laptop:        900px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
