<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_drafts</string>
		<string>_includes</string>
		<string>_layouts</string>
		<string>_posts</string>
		<string>_sass</string>
		<string>_site</string>
		<string>css</string>
		<string>docs</string>
		<string>images</string>
		<string>script</string>
		<string>_plugins</string>
		<string>font</string>
		<string>_api</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_config.yml</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>api.md</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>newfile.md</string>
		</array>
	</array>
</dict>
</plist>
