---
layout: page
title: Guide
permalink: /guide/
---
guide

<div class="row">
                <p><span class="octicon octicon-info text-info"></span> A 클래스는 RealGrid의 기초적인 사용법에 대한 짤막한 강좌들입니다. </p>
                <ul class="post-api-list">
                    {% assign tutorials_a = (site.posts | sort: 'date' reversed) %}
                    {% for post in tutorials_a %}{% if post.categories contains "Tutorial" %}{% if post.course contains "A-Class" %}
                      <li>
                          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          
                          <span class="hidden">
                          {% for tag in post.tags %}
                            {{ tag }}&nbsp;
                          {% endfor %}
                          </span>
                      </li>
                    {% endif %}{% endif %}{% endfor %}
                </ul>

</div>
    