---
layout: page
title: RealGrid 개발자 가이드 (Tutorial A Class)
permalink: /guide/
---


<style type="text/css" media="screen,print">

    * {
      overflow: visible !important;
    }

</style>

{% assign tutorials_a = (site.posts | sort: 'date' reversed) %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ul class="post-api-list">
            {% for post in tutorials_a %}{% if post.categories contains "Tutorial" %}{% if post.course contains "A-Class" %}
              <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <a class="post-link" href="#{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}{% endif %}{% endfor %}
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

{% for post in tutorials_a %}{% if post.categories contains "Tutorial" %}{% if post.course contains "A-Class" %}
<div class="row" style="page-break-before:always;">    
    <div class="col-md-1"></div>
    <div class="post col-md-10">

      <header class="post-header">
        <h2 id="{{ post.url }}" class="post-title">{{ post.title }}</h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
      </header>

      <div class="post-tags">
        <p><span class="octicon octicon-tag"></span>
          {% for tag in post.tags %}
            <span class="label label-default">{{ tag }}&nbsp;</span>
          {% endfor %}
        </p>
      </div>

      <article class="post-content">
        {{ post.content | split:"<!-- more -->" | first }}
      </article>

    </div>
    <div class="col-md-1"></div>
</div>
{% endif %}{% endif %}{% endfor %}