---
layout: page
---

<div class="row">
	<div class="col-md-1">
	</div>

	<div class="col-md-10">
		<h2 class="page-header"> RealGrid is </h2>
		<p class="post-bigfont">
			RealGrid는 비즈니스 웹에서 유통되는 다양한 Data를 표현하고 편집하기 위한 사용자 환경을 구축하는데 반드시 필요한 사용자 컨트롤입니다.<br/>
			높은 개발 생산성과 편리한 사용성을 제공하면서 탁월한 성능도 갖추고 있습니다. Demo Site를 통해 RealGrid를 경험해 보십시오.
		</p>

		<h2 class="page-header"> This site is </h2>
		<p class="post-bigfont">
			이 사이트는 RealGrid를 이용하여 웹 응용프로그램이나 사이트를 개발하시는 개발자 분들께 기술적인 도움을 제공해 드리기 위해 제작되었습니다.
		</p>

		<!-- RealGrid Js Rlease Notes -->
		<h3 class="page-header"> RealGrid Js 최근 변경 내용 <button type="button" class="btn btn-primary btn-xs pull-right">more</button> </h3>
	    {% for post in site.posts %}{% if post.category == "releasenote" and post.product == "js" %}
		<header class="post-title">
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
				{{ post.date | date: "%b %-d, %Y" }} {{ post.title }}
			</a>
		</header>
		<article class="post-content post-smallfont">
			{{ post.content }}
		</article>
		{% break %}
	    {% endif %}{% endfor %}

		<!-- RealGrid Flash Rlease Notes -->
		<h3 class="page-header"> RealGrid Flash 최근 변경 내용 </h3>
	    {% for post in site.posts %}{% if post.category == "releasenote" and post.product == "flash" %}
		<header class="post-title">
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
				{{ post.date | date: "%b %-d, %Y" }} {{ post.title }}
			</a>
		</header>
		<article class="post-content post-smallfont">
			{{ post.content }}
		</article>
		{% break %}
	    {% endif %}{% endfor %}

	</div>

	<div class="col-md-1">
	</div>
</div>

