<footer class="site-footer">

  <div class="wrapper text-center">
      
      <div class="col-md-3">
        <a href="{{ site.homeurl }}">
          <span class="octicon octicon-footer octicon-home"></span>
          <span class="octicon-footer">Home</span>
        </a>
      </div>

      <div class="col-md-3">
        <a href="{{ site.demourl }}">
          <span class="octicon octicon-footer octicon-code"></span>
          <span class="octicon-footer">Demo</span>
        </a>
      </div>

      <div class="col-md-3">
        <a href="mailto:support@realgrid.com">
          <span class="octicon octicon-footer octicon-mail"></span>
          <span class="octicon-footer">Mail</span>
        </a>
      </div>

      <div class="col-md-3">
        <a href="https://github.com/{{ site.github_username }}">
          <span class="octicon octicon-footer octicon-mark-github"></span>
          <span class="octicon-footer">Github</span>
        </a>
      </div>

  </div>

</footer>
