
{% for tag in site.categories %}{% if page.categories contains tag[0] %}
  <h4 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h4>
  <ul class="post-api-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li>
        <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endif %}{% endfor %}
