---
layout: apipost
title: ValidationResult
part: Types
typename: Classes
order: ValidationResult
objectname: 
directiontype: 
permalink: /api/types/ValidationResult/
tags: 
    - 데이터검증결과
    - 벨리데이션
---


#### Description

 검증 결과 표시에 대한 설정들이다.

#### Properties

> **level**  
> Type: [ValidationLevel](/api/types/ValidationLevel)  
> default: ValidationLevel.ERROR  
> Row 데이터 검증 결과 수준을 지정한다.  

> **message**   
> Type: String    
> default: "Validation error."   
> 표시할 메시지 내용을 지정한다.  

---

#### Demo Links

* [CustomColumnValidation](http://demo.realgrid.com/Demo/CustomColumnValidation#.example)