/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    padding: 20px 30px;
    margin: 15px 0;
    background-color: $grey-color-light;
    border-left: 4px solid $grey-color;
    
    > pre {
        border: none;
    }

    > p {
        font-family: Monaco, monospace !important;
        font-size: 14px;
        line-height: 1.5;

        > strong {
            font-size: 16px;
            color: #0a0;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.quote-from {
    border-left: 2px solid #ffeb8e !important;
    background-color: #fff9e3 !important;
}



/**
 * Code formatting
 */
 pre,
code {
    font-size: 13px;
    border: 1px dashed $grey-color;
    border-radius: 3px;
    background-color: $grey-color-light;
}

code {
    padding: 0px 5px 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-clip: padding-box;
    font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
    font-size: 13px;
    color: #c7254e;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll !important;

    > code {
        padding: 5px;
        margin: 10px 15px 15px 10px;
        font-family: Monaco, monospace !important;
        display: block;
        white-space: pre;
        background-color: $grey-color-light;;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.octicon-rss {
        color: #ff6600;
}

.octicon-footer {
        color: #000000;
        font-size: 13px;
}
