
/**
 * banner
 */

 .banner {
    color: #138185;
    font-size: 16px;
    position: relative;
    text-align: center;
 }

 .updates-banner {
    background-color: #fc0;
    color: #1e1e1e;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    height: 35px;
 }

 .banner-button {
    text-align: center;
 }


/**
 * Site header
 */
.site-header {
    border-top: 5px solid #999;
    border-bottom: 1px solid #ccc;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-weight: bold;

    &,
    &:visited {
        color: #000;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            height: auto;
            position: absolute;
            top: 30px;
            right: 12px;
            z-index: 1;
            background: #ffffff;
            border: 1px solid #000000;
            border-radius: 4px;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Side menu
 */
.menu-blank {
    margin-bottom: 15px;
    padding: 0 0px 5px;
    
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.menu-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
    
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 15px 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    font-size: $small-font-size;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-api-list {
    margin-left: 0;
    list-style: none;
    font-size: $small-font-size;

    .post-link {
        display: block;
        font-size: 14px;
        font-weight: normal;
    }

    > li {
        margin-bottom: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.post-release-list {
    margin-left: 0;
    list-style: none;
    font-size: $small-font-size;

    > li {
        margin-bottom: 0;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.post-tags {
    margin-bottom: $spacing-unit;
    font-size: 12px;
}

/**
 * Posts
 */

.post-box {
     border-right: 1px solid $grey-color-light;
 }

.post-header {

    .page-title {
        font-size: 26px;
        font-weight: normal;
        color: $text-color;
    }
}

.post-bigfont {
    font-size: 18px;
}

.post-smallfont {
    font-size: 14px;
}

.post-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    
    margin-bottom: 10px;
    padding: 0 0px 5px;
    color: #555555;
    
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    hr {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 18px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h5 {
        font-size: 16px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h6 {
        font-size: 14px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

}

/**
 *  Tab control
 */
.tab-content {
    margin: 10px 40px;
}

/**
 * Apis
 */

.api-deprecated {
    color: #8B0000;
}