---
layout: apipost
title: ValidationResult
part: Types
objectname: 
directiontype: 
permalink: /api/features/ValidationResult/
---


검증 결과 표시에 대한 설정들이다.

#### Properties

> **level** 
> Type: [ValidationLevel](/api/features/)
> default: ValidationLevel.ERROR
> Row 데이터 검증 결과 수준을 지정한다.

> **message** 
> Type: String  
> default: "Validation error." 
> 표시할 메시지 내용을 지정한다.

