---
layout: default
---

<div class="post col-md-9">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.part }}
      {% if page.typename %} &gt; {{ page.typename }} {% endif %}
    	{% if page.objectname %} &gt; {{ page.objectname }} {% endif %}
    	{% if page.directiontype %} &gt; {{ page.directiontype }} {% endif %}
	</p>
    <!--
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<script>
  $(document).ready( function() {
    var url = "/subpages/apisidemenu.html";
    $("#sidemenu").html("<p>loading...</p>").load(url);
  });
</script>

<div class="col-md-3" id="sidemenu">

</div>
