---
layout: default
---

<div class="post col-md-9">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.part }}
      {% if page.typename %} &gt; {{ page.typename }} {% endif %}
    	{% if page.objectname %} &gt; {{ page.objectname }} {% endif %}
    	{% if page.directiontype %} &gt; {{ page.directiontype }} {% endif %}
	  </p>

    <div class="post-tags">
      {% if page.versions.size > 0 %}
      <p title="support versions"><span class="octicon octicon-versions"></span>
        {% for version in page.versions %}
          <span class="label label-warning">{{ version }}&nbsp;</span>
        {% endfor %}
      </p>
    {% endif %}
    <!--
      {% if page.tags.size > 0 %}
      <p><span class="octicon octicon-tag"></span>
        {% for tag in page.tags %}
          <span class="label label-default">{{ tag }}&nbsp;</span>
        {% endfor %}
      </p>
      {% endif %}
    -->
    </div>

    <!--
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    -->
  <script type="text/javascript" src="/script/realgridjs-lic.js"></script>
  <script type="text/javascript" src="/script/realgridjs_eval.1.0.14.min.js"></script>
  <script type="text/javascript" src="/script/realgridjs-api.1.0.14.js"></script>
  
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<script>
  $(document).ready( function() {
    var url = "/subpages/apisidemenu.html";
    $("#sidemenu").html("<p>loading...</p>").load(url);
  });
</script>

<div class="col-md-3" id="sidemenu">

</div>
