---
layout: rowdiv
---

<script>
	$('input[type="text"]').keyup(function(){

    var that = this, $allListElements = $('ul > li');

    var $matchingListElements = $allListElements.filter(function(i, li){
        var listItemText = $(li).text().toUpperCase(), 
            searchText = that.value.toUpperCase();
        return ~listItemText.indexOf(searchText);
    });

    $allListElements.hide();
    $matchingListElements.show();

});
</script>

	<div class="form-group has-success">
	  <input type="text" class="form-control input-sm" placeholder="Filter">
	</div>

  <ul class="post-api-list">
  <h4>Features</h4>
  {% for post in site.api %}{% if post.part == 'Features' %}
      <li>
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
  {% endif %}{% endfor %}
  </ul>

  <ul class="post-api-list">
  <h4>Types</h4>
  {% for post in site.api %}{% if post.part == 'Types' %}
      <li>
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
  {% endif %}{% endfor %}
  </ul>

  <h4>Objects</h4>
  {% for object_name in site.object_names %}
    <h5 class="text-warning">{{ object_name }}</h5>
    <h6>Functions</h6>
    <ul class="post-api-list">
    {% for post in site.api %}{% if post.part == 'Objects' and post.objectname == object_name and post.directiontype == 'Function' %}
      <li>
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endif %}{% endfor %}
    </ul> 
    
    <h6>Callbacks</h6>
    <ul class="post-api-list">
    {% for post in site.api %}{% if post.part == 'Objects' and post.objectname == object_name and post.directiontype == 'Callback' %}
      <li>
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endif %}{% endfor %}
    </ul>
  {% endfor %}
