---
layout: rowdiv
---

<script>
	$('input[type="text"]').keyup(function(){

    var that = this, $allListElements = $('ul > li');

    var $matchingListElements = $allListElements.filter(function(i, li){
        var listItemText = $(li).text().toUpperCase(), 
            searchText = that.value.toUpperCase();
        return ~listItemText.indexOf(searchText);
    });

    $allListElements.hide();
    $matchingListElements.show();

});
</script>

	<div class="form-group has-success">
	  <input type="text" class="form-control input-sm" placeholder="Filter">
	</div>

  <ul class="post-api-list">
  <h4>Features</h4>
  {% for api in site.api %}{% if api.part == 'Features' %}
      <li>
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ api.title }}</a>
      <span class="hidden">
      {% for tag in api.tags %}
        {{ tag }}&nbsp;
      {% endfor %}
      </span>
      </li>
  {% endif %}{% endfor %}
  </ul>

  {% assign sorted_by_orderno = site.api | sort: "order" %}

  <h4>Types</h4>
  {% for type_name in site.type_names %}
    <h6><strong>{{ type_name }}</strong></h6>
    <ul class="post-api-list">
    {% for api in sorted_by_orderno %}{% if api.part == 'Types' and api.typename == type_name %}
      <li>
      <a class="page-link" href="{{ api.url | prepend: site.baseurl }}">{{ api.title }}</a>
      {% if api.deprecated == true %}
        <span class="octicon octicon-circle-slash api-deprecated"></span>
      {% endif %}
      <span class="hidden">
      {% for tag in api.tags %}
        {{ tag }}&nbsp;
      {% endfor %}
      </span>
      </li>
    {% endif %}{% endfor %}
    </ul> 
  {% endfor %}

  <h4>Objects</h4>
  {% for object_name in site.object_names %}
    <h5><span class="octicon octicon-git-commit"> </span><strong><a class="page-link" href="{{ site.baseurl }}/api/{{ object_name }}"> {{ object_name }}</a></strong></h5>
    <h6>Functions</h6>
    <ul class="post-api-list">
    {% for api in site.api %}{% if api.part == 'Objects' and api.objectname == object_name and api.directiontype == 'Function' %}
      <li>
      <a class="page-link" href="{{ api.url | prepend: site.baseurl }}">{{ api.title }}</a>
      {% if api.deprecated == true %}
        <span class="octicon octicon-circle-slash api-deprecated"></span>
      {% endif %}
      <span class="hidden">
      {% for tag in api.tags %}
        {{ tag }}&nbsp;
      {% endfor %}
      </span>
      </li>
    {% endif %}{% endfor %}
    </ul> 
    
    <h6>Callbacks</h6>
    <ul class="post-api-list">
    {% for api in site.api %}{% if api.part == 'Objects' and api.objectname == object_name and api.directiontype == 'Callback' %}
      <li>
      <a class="page-link" href="{{ api.url | prepend: site.baseurl }}">{{ api.title }}</a>
      {% if api.deprecated == true %}
        <span class="octicon octicon-circle-slash api-deprecated"></span>
      {% endif %}
      <span class="hidden">
      {% for tag in api.tags %}
        {{ tag }}&nbsp;
      {% endfor %}
      </span>
      </li>
    {% endif %}{% endfor %}
    </ul>
  {% endfor %}
