---
layout: rowdiv
---

<script>
	$('input[type="text"]').keyup(function(){

    var that = this, $allListElements = $('ul > li');

    var $matchingListElements = $allListElements.filter(function(i, li){
        var listItemText = $(li).text().toUpperCase(), 
            searchText = that.value.toUpperCase();
        return ~listItemText.indexOf(searchText);
    });

    $allListElements.hide();
    $matchingListElements.show();

});
</script>

	<div class="form-group has-success">
	  <input type="text" class="form-control input-sm" placeholder="Filter">
	</div>

  <ul class="post-api-list">
  <h4>RealGridJS</h4>
	{% for post in site.posts %}{% if post.part == 'RealGridJS' %}
    <li>
    	<a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span style="display: none;">
          {% for tag in post.tags %}
            {{ tag }}&nbsp;
          {% endfor %}
          </span>
    </li>
	{% endif %}{% endfor %}
	<br/>
  <h4>RealGridPlus</h4>
	{% for post in site.posts %}{% if post.part == 'RealGridPlus' %}
    <li>
		<a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span style="display: none;">
          {% for tag in post.tags %}
            {{ tag }}&nbsp;
          {% endfor %}
          </span>
    </li>
	{% endif %}{% endfor %}
	<br/>

  <h4>공통</h4>
	{% for post in site.posts %}{% if post.part == 'RealGrid' %}
	    <li>
	    	<a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span style="display: none;">
          {% for tag in post.tags %}
            {{ tag }}&nbsp;
          {% endfor %}
          </span>
	    </li>
	{% endif %}{% endfor %}
	<br/>
